<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Diễn đàn trao đổi học tập</title>
        <th:block th:replace="base :: styles"></th:block>
    </head>
    <body>
        <div th:replace="base :: header"></div>
        <section>
            <h1 class="text-center text-info mt-1">THÊM BÀI ĐĂNG</h1>

            <form th:action="@{/addForum}" th:object="${forum}" method="post">
                <input type="hidden" th:field="*{id}" />

                <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
                    </ul>
                </div>

                <div class="form-floating mb-3 mt-3">
                    <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Tiêu đề" />
                    <label for="title">Tiêu đề</label>
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea th:field="*{description}" class="form-control" id="description" placeholder="Mô tả"></textarea>
                    <label for="description">Mô tả</label>
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></div>
                </div>

                <div class="form-floating mb-3">
                    <textarea th:field="*{content}" class="form-control" id="content" placeholder="Nội dung"></textarea>
                    <label for="content">Nội dung</label>
                    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></div>
                </div>

                <label for="subjTeachSelect">Chọn giáo viên - môn học</label>
                <div class="form-floating mb-3">
                    <select class="form-select" th:field="*{subjectTeacherId.id}" id="subjTeachSelect">
                        <option value="" disabled selected>Chọn giáo viên - môn học</option>
                        <option th:each="subjteach : ${subjteachs}"
                                th:value="${subjteach.id}"
                                th:text="${subjteach.teacherId + ' - ' + subjteach.subjectId}">
                        </option>
                    </select>
                </div>

                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-info">Thêm bài đăng</button>
                </div>
            </form>
        </section>
        <div th:replace="base :: footer"></div>
    </body>
</html>
