<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Quản lý hệ thống điểm</title>
       <th:block th:replace="base :: styles"></th:block>
    </head>
    <body>
        <div th:replace="base :: header"></div>
        <section>
            <div class="container">
                <h1>Danh sách Ngành</h1>
                <div class="row">
                    <div class="col-md-4" th:each="major : ${majors}">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${major.majorName} + ' - ' + ${major.trainingTypeId}"></h5>
                                <p class="card-text">Description or details about the major.</p>
                                <a th:href="@{'/classes'(majorId=${major.id})}" class="btn btn-primary">Chi tiết</a>
                                <button type="button" class="btn btn-danger">Xóa ngành</button>
                                <button type="button" class="btn btn-secondary">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div th:replace="base :: footer"></div>
    </body>
</html>
