<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Hệ thống quản lý</title>
        <th:block th:replace="base :: styles"></th:block>
    </head>
    <body>
        <div th:replace="base :: header"></div>
        <section>
            <div class="container mt-5">
                <h1 class="mb-4">Danh Sách Giảng Dạy</h1>

                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Giảng viên</th>
                            <th>Môn học</th>
                            <!-- Các cột khác nếu cần -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${subjteachs}">
                            <td th:text="${item.teacherId}"></td>
                            <td th:text="${item.subjectId}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <div th:replace="base :: footer"></div>
    </body>
</html>
